body{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
h1 {
    color: rgb(192, 190, 190);
    text-align: center;
}
.blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.h2{
    text-align: center;
}
.card {
    margin: 10px;
}
.contact-form{
    border: 2px solid black;
}
.contact{
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
}